@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-*: initial;

  --color-dark: #121826;
  --color-gray: #6C727F;
  --color-light: #E5E7EB;
  --color-white: #FFFFFF;
  --color-light-transparent: #E5E7EBCC;

  --font-vietnam: "Be Vietnam Pro", sans-serif;
}
