@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-dark: #121826;
  --color-gray: #6C727F;
  --color-light: #E5E7EB;
  --color-white: #FFFFFF;
  --color-light-transparent: #E5E7EBCC;
}
